.panel-title > a {
  display: block;
  position: relative;
  text-decoration: none;
}
.panel-title > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.panel-title > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.center-align{
	text-align: center !important;
}

body{
	background-color: #80808020 !important;
}

.green-background{
	background-color: #4caf50 !important;
}

.orange-background{
	background-color: #ff5722 !important;
}

.red-background{
	background-color: #f44336 !important;
}

.left-border-1{
  border-left: 5px solid #607D8B !important;
}

.left-border-2{
  border-left: 5px solid #2196F3 !important;
}

.left-border-3{
  border-left: 5px solid #00bcd4 !important;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.panel-body{
  padding-bottom: 0px !important;
}

.float-right{
  float: right; 
  margin-right: 5%;
}